{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia-Create content
{% endblock %}

{% block body %}
  <br>
  <div class="createpage">
    <h3>Create a new page</h3>
    <hr>
    <div>
        <div class="container">
            <form action ="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-25">
                <label for="title">Title</label>
              </div>
              <div class="col-75">
                <input type="text" id="title" name="title" placeholder="Enter title..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="content">Content</label>
              </div>
              <div class="col-75">
                <textarea id="content" name="content" placeholder="Give us some content" style="height:200px"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <input type="submit" value="Submit">
              </div>
            </div>
            </form>
          </div>
    </div>
  </div>
    
{% endblock %}