{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia-Edit Content
{% endblock %}

{% block body %}
    <br>
    <h1>Edit this Page</h1>
    <hr>
    <div>
        <div class="container">
        <form action ="{% url 'edit' title %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-25">
                <label for="title">Title</label>
              </div>
              <div class="col-75">
                <input type="text" id="title" name="title" value="{{title}}">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="content">Content</label>
              </div>
              <div class="col-75">
                <textarea id="content" name="content"  style="height:400px">  {{entry}}</textarea>
              </div>
            </div>
            <div>
              <input  value="save"  type="submit">
            </div>
            </form>
          </div>
    </div>
{% endblock %}