{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia-Search
{% endblock %}

{% block body %}
<style> 
    input[type=text] {
      width: 250px;
      box-sizing: border-box;
      border: 2px solid rgb(133, 121, 121);
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
      width: 80%;
    }
    </style>
    <h1>Search for a title</h1>
    <div>
        <form action ="{% url 'search' %}" method="POST">
          {% csrf_token %}
            <input type="text" name="title" maxlength="100" required id="title" placeholder="Search Encyclopedia">
        </form>
    </div>
{% endblock %}